<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if (locals.id) { %>
        <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <h1>URL Shortner</h1>
       <form method="POST" action="/url">
        <label>Enter your original url</label>
        <input type="text" 
        name="url"
        placeholder="https://example.com"/>
        <button type="submit">Generate Sort URL</button>
       </form>

       <div>
        <% if (locals.urls) { %>
              <table>
                <thead>
                  <th>S.no.</th>
                  <th>ShortId</th>
                  <th>redirect</th>
                  <th>clicks</th>
                </thead>
                <tbody>
                  <%  urls.forEach((url,index) => { %>
                    <tr>

                        <td><%= index+1 %></td>
                        <td><%= url.ShortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        <% } %>
       </div>
     
    </div>
</body>
</html>